@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.nav__global {
  height: 44px;
}

.nav__local {
  height: 52px;
  border-bottom: 1px solid #ddd;
}

.nav__global__links,
.nav__local__links {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.nav__global__links {
  justify-content: space-between;
}

.nav__local__product {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav__local__links a:not(:first-child) {
  margin-left: 2em;
  font-size: 0.8rem;
}
